img {
  float: right;
  height: 295px;
  width: 200px;
}

.about-me {
  text-color: red;
}

.jumbotron {
  background-color: pink;
  text-align: center;
}

.check {
  font-size: 15px;
  padding: 10px;
  margin: 20px;
  border: 2px solid black;
  background-color: #ffffc6;
}

.me {
  color: red;
  font-weight: bold;
}

.fav-color {
  color: #ff748c;
}
